[
    {exec, [
        % {verbose, true},
        % {debug, 1},
        {user, "bashodeploy"}, % NB: production user
        {limit_users, ["bashodeploy", "zdsms"]}
    ]},
    {autodeploy, [
        {apps, [
            % NB: proplist key must be a string matching
            % "repository object" name field returned by GH webhook
            {"zendesk-sms", [
                {full_name, "basho/zendesk-sms"},
                {clone_path, "/home/zdsms/zendesk-sms"},
                {monit_name, "zendesk-sms"},
                {user, "zdsms"}
            ]}
            % ,
            % {"other-app", [
            %     {full_name, "basho/other-app"},
            %     {clone_path, "/home/otherapp/other-app"},
            %     {monit_name, "other-app"},
            %     {user, "otherapp"}
            % ]}
        ]},
        {monit, [
            {url, "http://localhost:2812/"}, % NB: ends in slash
            {user, "admin"},
            {pass, "admin"}
        ]},
        {git, "/usr/bin/git"},
        {tmp_dir, "/tmp"}
    ]},
    {lager, [
        {handlers, [
            %% {lager_console_backend, debug},
            %% {lager_file_backend, [{file, "./log/lager.log"}, {level, debug}]},
            {lager_file_backend, [{file, "/var/log/autodeploy/error.log"}, {level, error}]},
            {lager_file_backend, [{file, "/var/log/autodeploy/console.log"}, {level, info}]}
        ]}
    ]}
].

