[
    {autodeploy, [
        {apps, [
            {zendesk_sms, [
                % NB: these match fields in the "repository" object returned
                % in the webhook data
                {name, "zendesk-sms"},
                {full_name, "basho/zendesk-sms"},
                {html_url, "https://github.com/basho/zendesk-sms"},
                {organization, "basho"},
                {clone_path, "/home/zdsms/zendesk-sms"},
                {monit_name, "zendesk-sms"}
            ]}
        ]},
        {monit, "/usr/local/bin/monit"}
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, debug},
            {lager_file_backend, [{file, "./log/lager.log"}, {level, debug}]} %%,
            %% {lager_file_backend, [{file, "./log/error.log"}, {level, error}]},
            %% {lager_file_backend, [{file, "./log/console.log"}, {level, info}]}
        ]}
    ]}
].
