[
    {exec, [
        {verbose, true},
        {debug, 1},
        % {user, "bashodeploy"}, % NB: production user
        {user, "lbakken"},
        {limit_users, ["bashodeploy", "zdsms", "lbakken"]}
    ]},
    {autodeploy, [
        {apps, [
            % NB: proplist key must be a string matching "repository object" name field
            % returned by GH webhook
            {"zendesk-sms", [
                % NB: these match fields in the "repository" object returned
                % in the webhook data
                {full_name, "basho/zendesk-sms"},
                {html_url, "https://github.com/basho/zendesk-sms"},
                {organization, "basho"},
                %% {clone_path, "/home/zdsms/zendesk-sms"},
                {clone_path, "/home/lbakken/Projects/basho/zendesk-sms"},
                {monit_name, "zendesk-sms"},
                {user, "lbakken"}
                % {user, "zdsms"}
            ]},
            {"other-app", [
                {full_name, "basho/other-app"},
                {html_url, "https://github.com/basho/other-app"},
                {organization, "basho"},
                {clone_path, "/home/otherapp/other-app"},
                {monit_name, "other-app"},
                {user, "otherapp"}
            ]}
        ]},
        {monit, [
            {url, "http://localhost:2812/"}, % NB: ends in slash
            {user, "admin"},
            {pass, "admin"}
        ]},
        {git, "/usr/bin/git"},
        {tmp_dir, "/tmp"}
    ]},
    {lager, [
        {handlers, [
            {lager_console_backend, debug},
            {lager_file_backend, [{file, "./log/lager.log"}, {level, debug}]} %%,
            %% {lager_file_backend, [{file, "./log/error.log"}, {level, error}]},
            %% {lager_file_backend, [{file, "./log/console.log"}, {level, info}]}
        ]}
    ]}
].
